# node_modules
/api/node_modules/
/worker/node_modules/

# env file 
/api/.env
/worker/.env

/api/yarn.lock
/worker/yarn.lock

# webstorm IDE configurations
.idea/

#package-lock.json
/worker/package-lock.json
/api/package-lock.json
